{% extends 'base.html' %}
{% load static %}
{% load report_tags %}
{% block title %} DASHBOARD {% endblock %}
{% block content%}


<style type="text/css">
    body
    {
        font-family: Arial;
        font-size: 10pt;
    }
    .modal
    {
        position: fixed;
        z-index: 999;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: Black;
        filter: alpha(opacity=60);
        opacity: 0.6;
        -moz-opacity: 0.8;
    }
    .center
    {
        z-index: 1000;
        margin: 300px auto;
        padding: 10px;
        width: 130px;
        background-color: White;
        border-radius: 10px;
        filter: alpha(opacity=100);
        opacity: 1;
        -moz-opacity: 1;
    }
    .center img
    {
        height: 128px;
        width: 128px;
    }
</style>





<content>
	

	<div class="top-header">
		<div class="row">
			<div class="col-sm-8 col-lg-8 col-xs-12 text-left">
				<h5 class="title_style">DASHBOARD</h5>
			</div>
		</div>
	</div>
	
	<div class="content-wrapper">
		<div class="row">

			<div class="col-12">
				<div class="form-wrapper filter_wrapper">
			
						<div class="row">
							<div>
								<select id='region' onchange="getsorted()" class="form-control dropdown_arr_btn" style="width: 160px;
								margin-left: 30px">
	                            
	                                <option value="">Filter by Region</option>
	                                {% for i in unique_regions %}
										<option value="{{i}}">{{i}}</option>
									{% endfor %}
	                            </select>
							
								<select id ='country' onchange="getsorted()" class="form-control dropdown_arr_btn" style="width: 160px ;margin-left: 30px">
									<option value="">Filter by Country</option>
									{% for i in unique_country %}
										<option value="{{i}}">{{i}}</option>
									{% endfor %}
								</select>
	                        </div>
							<div>
								<select id ='year' onchange="getsorted()" class="form-control dropdown_arr_btn" style="width: 160px ;margin-left: 30px">
									<option value="">Filter by Year</option>
									{% for i in unique_year %}
										<option value="{{i}}">{{i}}</option>
									{% endfor %}
								</select>
							
								<select id ='airline' onchange="getsorted()" class="form-control dropdown_arr_btn" style="width: 160px ;margin-left: 30px">
									<option value="">Filter by Airline</option>
									{% for i in unique_airline %}
										<option value="{{i}}">{{i}}</option>
									{% endfor %}
								</select>
							</div>
							<div>
								<select id ='airline_IATA_code' onchange="getsorted()" class="form-control dropdown_arr_btn" style="width: 220px ;margin-left: 30px">
									<option value="">Filter by Airline_IATA_code</option>
									{% for i in unique_airline_IATA_code %}
										<option value="{{i}}">{{i}}</option>
									{% endfor %}
								</select>
							
								<select id ='IATA_numeric_code' onchange="getsorted()" class="form-control dropdown_arr_btn" style="width: 220px; margin-left: 30px">
									<option value="">Filter by IATA_numeric_code</option>
									{% for i in unique_IATA_numeric_code %}
										<option value="{{i}}">{{i}}</option>
									{% endfor %}
								</select>
							</div>
							<div>
								<select id ='agreement_type' onchange="getsorted()" class="form-control dropdown_arr_btn" style="width: 200px ;margin-left: 30px">
									<option value="">Filter by Agreement_type</option>
									{% for i in unique_agreement_type %}
										<option value="{{i}}">{{i}}</option>
									{% endfor %}
								</select>
							
								<select id ='contraced_with' onchange="getsorted()" class="form-control dropdown_arr_btn" style="width: 200px ;margin-left: 30px">
									<option value="">Filter by Contraced_with</option>
									{% for i in unique_contraced_with %}
										<option value="{{i}}">{{i}}</option>
									{% endfor %}
								</select>
							</div>
							<div>
								<select id ='month' onchange="getsorted()" class="form-control dropdown_arr_btn" style="width: 160px ;margin-left: 30px">
									<option value="">Filter by Month</option>
									<option value="JANUARY">JANUARY</option>
									<option value="FEBRUARY">FEBRUARY</option>
									<option value="MARCH">MARCH</option>
									<option value="APRIL">APRIL</option>
									<option value="MAY">MAY</option>
									<option value="JUNE">JUNE</option>
									<option value="JULY">JULY</option>
									<option value="AUGUST">AUGUST</option>
									<option value="SEPTEMBER">SEPTEMBER</option>
									<option value="OCTOBER">OCTOBER</option>
									<option value="NOVEMBER">NOVEMBER</option>
									<option value="DECEMBER">DECEMBER</option>
								</select>
							
								<select id ='orc_rate' onchange="getsorted()" class="form-control dropdown_arr_btn" style="width: 160px ;margin-left: 30px">
									<option value="">Filter by Orc_rate</option>
									{% for i in unique_orc_rate %}
										<option value="{{i}}">{{i}}</option>
									{% endfor %}
								</select>
							</div>
							<div>
								<select id ='gross' onchange="getsorted()" class="form-control dropdown_arr_btn" style="width: 160px; margin-left: 30px">
									<option value="">Filter by Gross</option>
									{% for i in unique_gross %}
										<option value="{{i}}">{{i}}</option>
									{% endfor %}
								</select>
							
								<select id ='nett' onchange="getsorted()" class="form-control dropdown_arr_btn" style="width: 160px ;margin-left: 30px">
									<option value="">Filter by Nett</option>
									{% for i in unique_nett %}
										<option value="{{i}}">{{i}}</option>
									{% endfor %}
								</select>
							</div>
							
							<div>
								<select id ='orc_actual' onchange="getsorted()" class="form-control dropdown_arr_btn" style="width: 180px ;margin-left: 30px">
									<option value="">Filter by Orc_actual</option>
									{% for i in unique_orc_actual %}
										<option value="{{i}}">{{i}}</option>
									{% endfor %}
								</select>
							</div>
							<div class="filter_btn_grp">
								<button class="secondary_btn_v2" onclick="location.href='{% url 'pivot' %}'" >Reset</button>
							</div>

							<div class="filter_btn_grp">
								<button class="primary_btn" onclick="location.href='{% url 'dashboard' %}'">Upload-File</button>
							</div>
							
							<div class="filter_btn_grp">
								<button class="secondary_btn_v2" onclick="location.href='{% url 'pivot' %}'" style="margin-top: 70px;
								margin-left: 50px">Show Pivot</button>
							</div>
							
						</div>
						
				</div>
			</div>

			<div class="modal">
				<img src="{% static '/debug_toolbar/img/loading.gif' %}" width="100" height="100" style="margin-left: 800px; margin-top: 300px">
			</div>
					
				
			<div class="col-12">
					<div class="col-12">
						<div class="row">
							<div class="col-12">
							
								<div class="dragscroll" style="width: 100%; height: 100%; cursor: grab; cursor : -o-grab; cursor : -moz-grab; cursor : -webkit-grab;">
					
									<div class="table-wrapper">      
										<table class="table_border summary_table">
											<div>
												<tr> 
													<th>REGION</th>
													<th>COUNTRY</th>
													<th>YEAR</th>
													<th>AIRLINE</th>
													<th>AIRLINE IATA CODE</th>
													<th>IATA NUMERIC CODE</th>
													<th>AGREEMENT TYPE</th>
													<th>CONTRACED WITH</th>
													<th>MONTH</th>
													<th>ORC_RATE</th>
													<th>GROSS</th>
													<th>NETT</th>
													<th>ORC ACTUAL</th>
												</tr>
											</div>
											<div>
												{% for datum in data %}
												<tr>
													<td>{{datum.Region}}</td>
													<td>{{datum.Country}}</td>
													<td>{{datum.Year}}</td>
													<td>{{datum.Airline}}</td>
													<td>{{datum.Airline_IATA_Code}}</td>
													<td>{{datum.IATA_Numeric_Code}}</td>
													<td>{{datum.Agreement_Type}}</td>
													<td>{{datum.Contraced_With}}</td>
													<td>{{datum.Month}}</td>
													<td>{{datum.ORC_Rate}}</td>
													<td>{{datum.Gross}}</td>
													<td>{{datum.Nett}}</td>
													<td>{{datum.ORC_Actual}}</td>
												</tr>
												{% endfor %}
											</div>
										</table>
									</div>
								</div>
							
							</div>
						</div>
					</div>
			</div>			
		</div>
	</div>

	

</content>
			<script>
				var Region_ = null;
				var Country_ = null;
				var Year_ = null;
				var Airline_ = null;
				var Airline_IATA_Code_ = null;
				var IATA_Numeric_Code_ = null;
				var IATA_Numeric_Code_ = null;
				var Agreement_Type_ = null;
				var Contraced_With_ = null;
				var Month_ = null;
				var ORC_Rate_ = null;
				var Gross_ = null;
				var Nett_ = null;
				var ORC_Actual_ = null;
				function getsorted(){


					$(".modal").show();
					Region_ = $('#region').find(":selected").val()
					Country_ = $('#country').find(":selected").val()
					Year_ = $('#year').find(":selected").val()
					Airline_ = $('#airline').find(":selected").val()
					Airline_IATA_Code_ = $('#airline_IATA_code').find(":selected").val()
					IATA_Numeric_Code_ = $('#IATA_numeric_code').find(":selected").val()
					Agreement_Type_ = $('#agreement_type').find(":selected").val()
					Contraced_With_ = $('#contraced_with').find(":selected").val()
					Month_ = $('#month').find(":selected").val()
					ORC_Rate_ = $('#orc_rate').find(":selected").val()
					Gross_ = $('#gross').find(":selected").val()
					Nett_ = $('#nett').find(":selected").val()
					ORC_Actual_ = $('#orc_actual').find(":selected").val()


					
					//$('.loader').css("visibility", "visible");
					$.ajax({
						method : "GET",
						url : "",
						data :
						
						{	"region":Region_,
							"country":Country_,
							"year":Year_,
							"airline":Airline_,
							"airline_IATA_code":Airline_IATA_Code_,
							"IATA_numeric_code":IATA_Numeric_Code_,
							"agreement_type":Agreement_Type_,
							"contraced_with":Contraced_With_,
							"month":Month_,
							"orc_rate":ORC_Rate_,
							"gross":Gross_,
							"nett":Nett_,
							"orc_actual":ORC_Actual_,
							"is_filter":true
							
								
						},
						
						
						success: function(response){
							$(".modal").hide();

								if (response.status){
									$('.dragscroll').replaceWith(response.html_to_replace);
									
								}

						},
						complete: function(){

							
						}
					})
				}
			</script>





{% endblock %}
